-- MySQL dump 10.13  Distrib 9.2.0, for Win64 (x86_64)
--
-- Host: localhost    Database: quizmaster
-- ------------------------------------------------------
-- Server version	8.0.39

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `badges`
--

DROP TABLE IF EXISTS `badges`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `badges` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text NOT NULL,
  `categorie_id` int DEFAULT NULL,
  `difficulte_id` int DEFAULT NULL,
  `condition_score` int DEFAULT NULL,
  `condition_nombre_quiz` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `categorie_id` (`categorie_id`),
  KEY `difficulte_id` (`difficulte_id`),
  CONSTRAINT `badges_ibfk_1` FOREIGN KEY (`categorie_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL,
  CONSTRAINT `badges_ibfk_2` FOREIGN KEY (`difficulte_id`) REFERENCES `difficultes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badges`
--

LOCK TABLES `badges` WRITE;
/*!40000 ALTER TABLE `badges` DISABLE KEYS */;
/*!40000 ALTER TABLE `badges` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `badges_utilisateurs`
--

DROP TABLE IF EXISTS `badges_utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `badges_utilisateurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int NOT NULL,
  `badge_id` int NOT NULL,
  `date_obtention` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `utilisateur_badge_unique` (`utilisateur_id`,`badge_id`),
  KEY `badge_id` (`badge_id`),
  CONSTRAINT `badges_utilisateurs_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `badges_utilisateurs_ibfk_2` FOREIGN KEY (`badge_id`) REFERENCES `badges` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `badges_utilisateurs`
--

LOCK TABLES `badges_utilisateurs` WRITE;
/*!40000 ALTER TABLE `badges_utilisateurs` DISABLE KEYS */;
INSERT INTO `badges_utilisateurs` VALUES (1,1,6,'2025-04-17 18:02:15'),(2,1,1,'2025-04-17 18:06:17'),(3,1,3,'2025-04-17 21:27:59'),(4,21,6,'2025-04-21 16:05:31');
/*!40000 ALTER TABLE `badges_utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `description` text NOT NULL,
  `icone` varchar(50) NOT NULL,
  `couleur` varchar(20) NOT NULL,
  `active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categories`
--

LOCK TABLES `categories` WRITE;
/*!40000 ALTER TABLE `categories` DISABLE KEYS */;
/*!40000 ALTER TABLE `categories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `difficultes`
--

DROP TABLE IF EXISTS `difficultes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `difficultes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `nom` varchar(20) NOT NULL,
  `niveau` int NOT NULL DEFAULT '1',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `difficultes`
--

LOCK TABLES `difficultes` WRITE;
/*!40000 ALTER TABLE `difficultes` DISABLE KEYS */;
INSERT INTO `difficultes` VALUES (1,'Facile',1),(2,'Moyen',1),(3,'Difficile',1);
/*!40000 ALTER TABLE `difficultes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duel_achievements`
--

DROP TABLE IF EXISTS `duel_achievements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duel_achievements` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_id` int NOT NULL,
  `achievement_type` enum('perfect_score','win_streak','first_win') COLLATE utf8mb4_unicode_ci NOT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `duel_achievements_ibfk_1` FOREIGN KEY (`user_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duel_achievements`
--

LOCK TABLES `duel_achievements` WRITE;
/*!40000 ALTER TABLE `duel_achievements` DISABLE KEYS */;
/*!40000 ALTER TABLE `duel_achievements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duel_answers`
--

DROP TABLE IF EXISTS `duel_answers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duel_answers` (
  `id` int NOT NULL AUTO_INCREMENT,
  `duel_id` int NOT NULL,
  `user_id` int NOT NULL,
  `question_id` int NOT NULL,
  `answer_id` int DEFAULT NULL,
  `is_correct` tinyint(1) NOT NULL DEFAULT '0',
  `response_time` int DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `duel_id` (`duel_id`),
  KEY `user_id` (`user_id`),
  KEY `question_id` (`question_id`),
  KEY `duel_answers_ibfk_4` (`answer_id`),
  CONSTRAINT `duel_answers_ibfk_1` FOREIGN KEY (`duel_id`) REFERENCES `duels` (`id`) ON DELETE CASCADE,
  CONSTRAINT `duel_answers_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `duel_answers_ibfk_3` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `duel_answers_ibfk_4` FOREIGN KEY (`answer_id`) REFERENCES `options` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=142 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duel_answers`
--

LOCK TABLES `duel_answers` WRITE;
/*!40000 ALTER TABLE `duel_answers` DISABLE KEYS */;
/*!40000 ALTER TABLE `duel_answers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duel_invitations`
--

DROP TABLE IF EXISTS `duel_invitations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duel_invitations` (
  `id` int NOT NULL AUTO_INCREMENT,
  `duel_id` int NOT NULL,
  `sender_id` int NOT NULL,
  `recipient_id` int NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci,
  `status` enum('pending','accepted','declined') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `expires_at` datetime NOT NULL,
  PRIMARY KEY (`id`),
  KEY `duel_id` (`duel_id`),
  KEY `sender_id` (`sender_id`),
  KEY `recipient_id` (`recipient_id`),
  CONSTRAINT `duel_invitations_ibfk_1` FOREIGN KEY (`duel_id`) REFERENCES `duels` (`id`),
  CONSTRAINT `duel_invitations_ibfk_2` FOREIGN KEY (`sender_id`) REFERENCES `utilisateurs` (`id`),
  CONSTRAINT `duel_invitations_ibfk_3` FOREIGN KEY (`recipient_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duel_invitations`
--

LOCK TABLES `duel_invitations` WRITE;
/*!40000 ALTER TABLE `duel_invitations` DISABLE KEYS */;
/*!40000 ALTER TABLE `duel_invitations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `duel_leaderboard`
--

DROP TABLE IF EXISTS `duel_leaderboard`;
/*!50001 DROP VIEW IF EXISTS `duel_leaderboard`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `duel_leaderboard` AS SELECT 
 1 AS `id`,
 1 AS `nom`,
 1 AS `est_contributeur`,
 1 AS `total_duels`,
 1 AS `wins`,
 1 AS `losses`,
 1 AS `draws`,
 1 AS `win_percentage`,
 1 AS `avg_accuracy`,
 1 AS `avg_completion_time`,
 1 AS `last_duel_date`,
 1 AS `preferred_duel_type`*/;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `duel_questions`
--

DROP TABLE IF EXISTS `duel_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duel_questions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `duel_id` int NOT NULL,
  `question_id` int NOT NULL,
  `question_order` int NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_duel_question` (`duel_id`,`question_id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `duel_questions_ibfk_1` FOREIGN KEY (`duel_id`) REFERENCES `duels` (`id`) ON DELETE CASCADE,
  CONSTRAINT `duel_questions_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=236 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duel_questions`
--

LOCK TABLES `duel_questions` WRITE;
/*!40000 ALTER TABLE `duel_questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `duel_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duel_results`
--

DROP TABLE IF EXISTS `duel_results`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duel_results` (
  `id` int NOT NULL AUTO_INCREMENT,
  `duel_id` int NOT NULL,
  `user_id` int NOT NULL,
  `score` int DEFAULT '0',
  `correct_answers` int DEFAULT '0',
  `total_questions` int NOT NULL DEFAULT '10',
  `completion_time` int DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `duel_id` (`duel_id`),
  KEY `user_id` (`user_id`),
  CONSTRAINT `duel_results_ibfk_1` FOREIGN KEY (`duel_id`) REFERENCES `duels` (`id`),
  CONSTRAINT `duel_results_ibfk_2` FOREIGN KEY (`user_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duel_results`
--

LOCK TABLES `duel_results` WRITE;
/*!40000 ALTER TABLE `duel_results` DISABLE KEYS */;
/*!40000 ALTER TABLE `duel_results` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `duels`
--

DROP TABLE IF EXISTS `duels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `duels` (
  `id` int NOT NULL AUTO_INCREMENT,
  `challenger_id` int NOT NULL,
  `opponent_id` int NOT NULL,
  `categorie_id` int DEFAULT NULL,
  `difficulte_id` int DEFAULT NULL,
  `type` enum('timed','accuracy','mixed') COLLATE utf8mb4_unicode_ci NOT NULL,
  `time_limit` int DEFAULT '0',
  `question_count` int DEFAULT '10',
  `status` enum('pending','active','completed','cancelled') COLLATE utf8mb4_unicode_ci DEFAULT 'pending',
  `started_at` datetime DEFAULT NULL,
  `completed_at` datetime DEFAULT NULL,
  `winner_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `challenger_id` (`challenger_id`),
  KEY `opponent_id` (`opponent_id`),
  KEY `categorie_id` (`categorie_id`),
  KEY `difficulte_id` (`difficulte_id`),
  KEY `winner_id` (`winner_id`),
  CONSTRAINT `duels_ibfk_1` FOREIGN KEY (`challenger_id`) REFERENCES `utilisateurs` (`id`),
  CONSTRAINT `duels_ibfk_2` FOREIGN KEY (`opponent_id`) REFERENCES `utilisateurs` (`id`),
  CONSTRAINT `duels_ibfk_3` FOREIGN KEY (`categorie_id`) REFERENCES `categories` (`id`),
  CONSTRAINT `duels_ibfk_4` FOREIGN KEY (`difficulte_id`) REFERENCES `difficultes` (`id`),
  CONSTRAINT `duels_ibfk_5` FOREIGN KEY (`winner_id`) REFERENCES `utilisateurs` (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=29 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `duels`
--

LOCK TABLES `duels` WRITE;
/*!40000 ALTER TABLE `duels` DISABLE KEYS */;
/*!40000 ALTER TABLE `duels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int NOT NULL,
  `type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `related_id` int DEFAULT NULL,
  `is_read` tinyint(1) DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  CONSTRAINT `notifications_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `options`
--

DROP TABLE IF EXISTS `options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `options` (
  `id` int NOT NULL AUTO_INCREMENT,
  `question_id` int NOT NULL,
  `texte` text NOT NULL,
  `est_correcte` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `options_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1617 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `options`
--

LOCK TABLES `options` WRITE;
/*!40000 ALTER TABLE `options` DISABLE KEYS */;
/*!40000 ALTER TABLE `options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `questions`
--

DROP TABLE IF EXISTS `questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `questions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `categorie_id` int NOT NULL,
  `difficulte_id` int NOT NULL,
  `question` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `categorie_id` (`categorie_id`),
  KEY `difficulte_id` (`difficulte_id`),
  CONSTRAINT `questions_ibfk_1` FOREIGN KEY (`categorie_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE,
  CONSTRAINT `questions_ibfk_2` FOREIGN KEY (`difficulte_id`) REFERENCES `difficultes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=405 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `questions`
--

LOCK TABLES `questions` WRITE;
/*!40000 ALTER TABLE `questions` DISABLE KEYS */;
/*!40000 ALTER TABLE `questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz_completes`
--

DROP TABLE IF EXISTS `quiz_completes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiz_completes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int NOT NULL,
  `categorie_id` int NOT NULL,
  `difficulte_id` int NOT NULL,
  `score` int NOT NULL,
  `total` int NOT NULL,
  `date_completion` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  KEY `categorie_id` (`categorie_id`),
  KEY `difficulte_id` (`difficulte_id`),
  CONSTRAINT `quiz_completes_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quiz_completes_ibfk_2` FOREIGN KEY (`categorie_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quiz_completes_ibfk_3` FOREIGN KEY (`difficulte_id`) REFERENCES `difficultes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=57 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz_completes`
--

LOCK TABLES `quiz_completes` WRITE;
/*!40000 ALTER TABLE `quiz_completes` DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz_completes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `quiz_progress`
--

DROP TABLE IF EXISTS `quiz_progress`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `quiz_progress` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int NOT NULL,
  `categorie_id` int NOT NULL,
  `difficulte_id` int NOT NULL,
  `type` varchar(20) DEFAULT 'standard',
  `quiz_id` int DEFAULT NULL,
  `progress_data` text,
  `current_question_index` int NOT NULL DEFAULT '0',
  `answers` json NOT NULL,
  `time_elapsed` int NOT NULL DEFAULT '0',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `user_quiz_unique` (`utilisateur_id`,`categorie_id`,`difficulte_id`,`type`,`quiz_id`),
  KEY `categorie_id` (`categorie_id`),
  KEY `difficulte_id` (`difficulte_id`),
  CONSTRAINT `quiz_progress_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quiz_progress_ibfk_2` FOREIGN KEY (`categorie_id`) REFERENCES `categories` (`id`) ON DELETE CASCADE,
  CONSTRAINT `quiz_progress_ibfk_3` FOREIGN KEY (`difficulte_id`) REFERENCES `difficultes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1270 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `quiz_progress`
--

LOCK TABLES `quiz_progress` WRITE;
/*!40000 ALTER TABLE `quiz_progress` DISABLE KEYS */;
/*!40000 ALTER TABLE `quiz_progress` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reponses`
--

DROP TABLE IF EXISTS `reponses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reponses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `question_id` int NOT NULL,
  `texte` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `est_correcte` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `question_id` (`question_id`),
  CONSTRAINT `reponses_ibfk_1` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reponses`
--

LOCK TABLES `reponses` WRITE;
/*!40000 ALTER TABLE `reponses` DISABLE KEYS */;
/*!40000 ALTER TABLE `reponses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reponses_utilisateurs`
--

DROP TABLE IF EXISTS `reponses_utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reponses_utilisateurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `quiz_complete_id` int NOT NULL,
  `question_id` int NOT NULL,
  `option_id` int NOT NULL,
  PRIMARY KEY (`id`),
  KEY `quiz_complete_id` (`quiz_complete_id`),
  KEY `question_id` (`question_id`),
  KEY `option_id` (`option_id`),
  CONSTRAINT `reponses_utilisateurs_ibfk_1` FOREIGN KEY (`quiz_complete_id`) REFERENCES `quiz_completes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `reponses_utilisateurs_ibfk_2` FOREIGN KEY (`question_id`) REFERENCES `questions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `reponses_utilisateurs_ibfk_3` FOREIGN KEY (`option_id`) REFERENCES `options` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=156 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reponses_utilisateurs`
--

LOCK TABLES `reponses_utilisateurs` WRITE;
/*!40000 ALTER TABLE `reponses_utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `reponses_utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_quiz_options`
--

DROP TABLE IF EXISTS `user_quiz_options`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_quiz_options` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_quiz_question_id` int NOT NULL,
  `texte` text NOT NULL,
  `est_correcte` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`id`),
  KEY `user_quiz_question_id` (`user_quiz_question_id`),
  CONSTRAINT `user_quiz_options_ibfk_1` FOREIGN KEY (`user_quiz_question_id`) REFERENCES `user_quiz_questions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_quiz_options`
--

LOCK TABLES `user_quiz_options` WRITE;
/*!40000 ALTER TABLE `user_quiz_options` DISABLE KEYS */;
INSERT INTO `user_quiz_options` VALUES (5,2,'test1',0),(6,2,'test2',0),(7,2,'test3',1),(8,2,'test4',0);
/*!40000 ALTER TABLE `user_quiz_options` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_quiz_questions`
--

DROP TABLE IF EXISTS `user_quiz_questions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_quiz_questions` (
  `id` int NOT NULL AUTO_INCREMENT,
  `user_quiz_id` int NOT NULL,
  `question` text NOT NULL,
  PRIMARY KEY (`id`),
  KEY `user_quiz_id` (`user_quiz_id`),
  CONSTRAINT `user_quiz_questions_ibfk_1` FOREIGN KEY (`user_quiz_id`) REFERENCES `user_quizzes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_quiz_questions`
--

LOCK TABLES `user_quiz_questions` WRITE;
/*!40000 ALTER TABLE `user_quiz_questions` DISABLE KEYS */;
INSERT INTO `user_quiz_questions` VALUES (2,2,'test');
/*!40000 ALTER TABLE `user_quiz_questions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `user_quizzes`
--

DROP TABLE IF EXISTS `user_quizzes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `user_quizzes` (
  `id` int NOT NULL AUTO_INCREMENT,
  `utilisateur_id` int NOT NULL,
  `titre` varchar(100) NOT NULL,
  `description` text NOT NULL,
  `categorie_id` int DEFAULT NULL,
  `time_limit_per_question` int DEFAULT NULL,
  `status` enum('pending','approved','rejected') DEFAULT 'pending',
  `admin_comment` text,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `difficulte_id` int DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `utilisateur_id` (`utilisateur_id`),
  KEY `categorie_id` (`categorie_id`),
  KEY `difficulte_id` (`difficulte_id`),
  CONSTRAINT `user_quizzes_ibfk_1` FOREIGN KEY (`utilisateur_id`) REFERENCES `utilisateurs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `user_quizzes_ibfk_2` FOREIGN KEY (`categorie_id`) REFERENCES `categories` (`id`) ON DELETE SET NULL,
  CONSTRAINT `user_quizzes_ibfk_3` FOREIGN KEY (`difficulte_id`) REFERENCES `difficultes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `user_quizzes`
--

LOCK TABLES `user_quizzes` WRITE;
/*!40000 ALTER TABLE `user_quizzes` DISABLE KEYS */;
INSERT INTO `user_quizzes` VALUES (2,1,'test','test',6,NULL,'approved','ok','2025-04-19 02:57:33',NULL);
/*!40000 ALTER TABLE `user_quizzes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `utilisateurs`
--

DROP TABLE IF EXISTS `utilisateurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `utilisateurs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `est_admin` tinyint(1) NOT NULL DEFAULT '0',
  `nom` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `mot_de_passe` varchar(255) NOT NULL,
  `date_inscription` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `est_contributeur` tinyint(1) NOT NULL DEFAULT '0',
  `active` tinyint(1) DEFAULT '1',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=22 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `utilisateurs`
--

LOCK TABLES `utilisateurs` WRITE;
/*!40000 ALTER TABLE `utilisateurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `utilisateurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Final view structure for view `duel_leaderboard`
--

/*!50001 DROP VIEW IF EXISTS `duel_leaderboard`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `duel_leaderboard` AS select `u`.`id` AS `id`,`u`.`nom` AS `nom`,`u`.`est_contributeur` AS `est_contributeur`,count(`d`.`id`) AS `total_duels`,sum((case when (`d`.`winner_id` = `u`.`id`) then 1 else 0 end)) AS `wins`,sum((case when ((`d`.`winner_id` is not null) and (`d`.`winner_id` <> `u`.`id`) and (`d`.`winner_id` <> 0)) then 1 else 0 end)) AS `losses`,sum((case when (`d`.`winner_id` = 0) then 1 else 0 end)) AS `draws`,((sum((case when (`d`.`winner_id` = `u`.`id`) then 1 else 0 end)) / count(`d`.`id`)) * 100) AS `win_percentage`,avg((case when (`dr`.`total_questions` > 0) then ((`dr`.`correct_answers` / `dr`.`total_questions`) * 100) else 0 end)) AS `avg_accuracy`,avg(`dr`.`completion_time`) AS `avg_completion_time`,max(`d`.`completed_at`) AS `last_duel_date`,(select `duels`.`type` from `duels` where ((`duels`.`challenger_id` = `u`.`id`) or (`duels`.`opponent_id` = `u`.`id`)) group by `duels`.`type` order by count(0) desc limit 1) AS `preferred_duel_type` from ((`utilisateurs` `u` left join `duels` `d` on((((`d`.`challenger_id` = `u`.`id`) or (`d`.`opponent_id` = `u`.`id`)) and (`d`.`status` = 'completed')))) left join `duel_results` `dr` on(((`dr`.`user_id` = `u`.`id`) and (`dr`.`duel_id` = `d`.`id`)))) group by `u`.`id`,`u`.`nom`,`u`.`est_contributeur` having (`total_duels` > 0) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-04-24 13:47:31
